body {
    font-family: 'Exo', sans-serif;
    background-color: #f8f8f8;
}

.nav-img {
    height: 60px;
    margin: 20px;
}

header {
    background-color: #ffffff;
}

.bottom-card-icons {
    margin-top: -20px;
    padding: 0% 3% 5% 5%;
}

h2 {
    color: #2c3e50;
    font-size: 24px;
    font-weight: 400;
}

.card-title,
.fas {
    color: #6eb92b;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
}

.btn-primary {
    background-color: #6eb92b;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #b1c59f;
}

.card-text {
    color: #697070;
    font-size: 16px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #6eb92b;
}

a:hover {
    text-decoration: none;
    color: #7c8a70;
}

#success-message {
    display: none;
    background-color: green;
}

.message-form {
    font-weight: 500;
    width: 50%;
    background-color: rgb(185, 224, 185);
}

.form {
    font-size: 20px;
    font-weight: 200;
}

.rating-form input {
    display: none;
}

.rating-form {
    display: flex;
}

.rating-form>label {
    display: block;
    color: green;
    opacity: 0.5;
}

#star1:checked~label[for="star1"],
#star1:hover~label[for="star1"],
#star2:checked~label[for="star1"],
#star2:checked~label[for="star2"],
#star2:hover~label[for="star1"],
#star2:hover~label[for="star2"],
#star3:checked~label[for="star1"],
#star3:checked~label[for="star2"],
#star3:checked~label[for="star3"],
#star3:hover~label[for="star1"],
#star3:hover~label[for="star2"],
#star3:hover~label[for="star3"],
#star4:checked~label[for="star1"],
#star4:checked~label[for="star2"],
#star4:checked~label[for="star3"],
#star4:checked~label[for="star4"],
#star4:hover~label[for="star1"],
#star4:hover~label[for="star2"],
#star4:hover~label[for="star3"],
#star4:hover~label[for="star4"],
#star5:checked~label[for="star1"],
#star5:checked~label[for="star2"],
#star5:checked~label[for="star3"],
#star5:checked~label[for="star4"],
#star5:checked~label[for="star5"],
#star5:hover~label[for="star1"],
#star5:hover~label[for="star2"],
#star5:hover~label[for="star3"],
#star5:hover~label[for="star4"],
#star5:hover~label[for="star5"] {
    opacity: 1;
}